{% extends "base.html" %}
{% block title %}Administrador{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Bem Administrador</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Opções</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="*" class="btn btn-primary btn-lg btn-block">Produtos</a>
        </div>
        <div class="col-md-4">
            <a href="*" class="btn btn-primary btn-lg btn-block">Categorias</a>
        </div>
        <div class="col-md-4">
            <a href="*" class="btn btn-primary btn-lg btn-block">Usuários</a>
        </div>
    </div>
</div>
{% endblock %}